@charset "UTF-8";
.top {
    width: 100%;
    text-align: center; 
    margin-top: 3%;
}
header .top img{ /*top画像*/
    width: 95%;
    border-bottom: 20px double black;
}
body{
    background-image: url("../images/web-bg.jpg");
    background-size: contain;
    font-family:"游ゴシック","ヒラギノ角ゴ ProN";
    width:100%;
}



/*ボタン⬇️*/
article .home{
    background-color:rgb(153, 255, 0);
    color:aliceblue
}
article .youtube{
    background-color:red;
    color:aliceblue
}
article .X{
    background-color:black;
    color:aliceblue
}

article ul li a{
    display:block;
    padding:20px;
    font-size: 30px;
    font-weight: 900;
}
article ul{
    width: 70%;
    margin: 20px auto;
    text-align: center; 
}
article ul li{/*ボタンの間*/
    margin-bottom:15px;
}
article ul li a:hover{
text-decoration: underline double;
}
article nav{
    width:70%;
    background-image: url("../images/web_topぼかし.png"); 
    background-size: contain;
    background-size: 100%;
    margin: 40px auto;
    padding:10px 0px;
}
/*ボタン⬆️*/



main section h4{
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    color: white;
}
main section nav{/*かこい*/
    width: 95%;
    background-color: aliceblue;
    margin: 10px auto;
}
main section ul{
    display:flex;
    margin: 10px auto;
}
main section ul li{
    font-size: 19px;
    margin:auto 0px;
    padding:5px;
}
main section ul li a{
    color: blue;
    border-bottom: 1px solid blue;
}
main section nav img{
    width: 250px;
    padding-left: 0px;
    padding: 10px;
}


.anim-box {
    background: linear-gradient(to right, #362ae0 0%,#3b79cc 50%,#42d3ed 100%);
  }

.bottom{
    /*background-color: aqua;*/
    border-top: 3px dashed aliceblue;
    display:flex;
    width:100%;
    justify-content: center;
}
.bottom img{
   width:5%;
   border-radius: 100%;
}

.bottom h5{
    color:aliceblue;
    font-size: 20px;
    font-weight: 900;
    margin:auto 5px;
}
.bottom h6{
    color:aliceblue;
    font-size: 10px;
    font-weight: 900;
    margin:auto 0px;
}
@media screen and (max-width:640px){


}
